name: Docker

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docker-build-and-test:
    name: Build and Test - ${{ matrix.dockerfile }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        dockerfile:
          - Dockerfile
          # - Dockerfile.coverage
          # - Dockerfile.memcheck
        build_type: [Release]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache

      - name: Build Docker image
        run: docker build -t miam -f docker/${{ matrix.dockerfile }} . --build-arg MIAM_GIT_TAG=${{ github.sha }} --build-arg BUILD_TYPE=${{ matrix.build_type }}

      - name: Run tests in container
        if: matrix.dockerfile != 'Dockerfile.coverage'
        run: docker run --name test-container -t miam bash -c 'make test ARGS="--rerun-failed --output-on-failure -j8"'

      - name: Run coverage tests in container
        if: matrix.dockerfile == 'Dockerfile.coverage'
        run: |
          docker run --name test-container -t miam bash -c 'make coverage ARGS="--rerun-failed --output-on-failure -j8"'
          docker cp $(docker ps -aqf name=test-container):miam/build/coverage.info .

      - name: Upload coverage report
        if: matrix.dockerfile == 'Dockerfile.coverage'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.info